name: GitHub Actions 
run-name: ${{ github.actor }} test
on: [push]
jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository code
      uses: actions/checkout@v4
    - name: Вывод содержимого директории
      run: |
        ls ${{ github.workspace }}
    - name: CMake Action
      uses: threeal/cmake-action@v2.1.0
    - name: Компиляция
      run: cmake -H. -Bbuild
    - name: Компиляция2
      run:  cmake --build build
    - name: Вывод содержимого директории
      run: |
        ls ${{ github.workspace }}
    - name: Тест
      working-directory: ./build/hello_world_application
      run: ./hello
  Test_win:
    runs-on: windows-latest
    steps:
    - name: Check out repository code
      uses: actions/checkout@v4
    - name: Вывод содержимого директории
      run: dir ${{ github.workspace }}
    - name: Setup CMake
      uses: threeal/cmake-action@v2.1.0
    - name: Компиляция
      run: cmake --build build --config Release
    - name: Вывод содержимого директории
      run: dir ${{ github.workspace }}\build
    - name: Тест
      working-directory: ./build/hello_world_application/Release
      run: .\hello.exe
